<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" name="postTitle" id="exampleFormControlInput1" >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" name="postBody" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button class="btn btn-primary btn-marg" type="submit">Publish</button>
</form>
<%- include("partials/footer") -%>